{% from 'admin/helpers/render_pagination.html' import render_pagination %}
<turbo-frame id="category-list">
<div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-tools float-left">
              <div class="input-group input-group-sm">
                <form method="POST" class="input-group input-group mt-2 mb-2" id="search_form">
                      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <input type="text" name="category_search" class="form-control float-right" placeholder="Search Category">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                  <tr>
                    <td>
                      <a class="cursor-pointer text-dark"
                         href="{{ url_for('admin.category_info', category_id=category.id) }}" data-turbo="false">
                        {{ category.name|capitalize }}
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!--Pagination-->
            {% if categories.pages > 1 %}
                {{render_pagination(categories, request.endpoint )}}
            {% endif %}
        </div>
        <!-- /.card -->
    </div>
</turbo-frame>