<!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/xbox-logo_banner_01.svg') }}" alt="banner" style="max-height: 400px">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Xbox</b></h1>
                                <h3 class="h2">Your Gaming Home</h3>
                                <p>
                                    Experience the power of Xbox, the ultimate gaming console. With a vast library of
                                    exclusive titles, online multiplayer, and cutting-edge technology, Xbox offers an immersive gaming experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/playstation_banner_02.svg') }}" alt="" style="max-height: 400px">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Playstation</h1>
                                <h3 class="h2">The Most Popular console system</h3>
                                <p>
                                   Discover the PlayStation Store from your console, smartphone, or web browser and explore a vast library of games, from triple-A blockbusters to indie gems, as well as add-ons and season passes. With regular sales, promotions, and extra savings for PlayStation Plus members, there’s always one more adventure waiting.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/steam_banner_04.svg') }}" alt="" style="max-height: 400px">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Steam</h1>
                                <h3 class="h2">Your Ultimate Gaming Destination</h3>
                                <p>
                                    Experience the Future of Gaming
                                    Whether you're a casual gamer or a hardcore enthusiast, Steam has something for everyone. Dive into the world of gaming and discover your next favorite title.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/nintendo-logo_banner_04.svg') }}" alt="" style="max-height: 400px">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Nintendo</h1>
                                <h3 class="h2">Fun for Everyone</h3>
                                <p>
                                    Nintendo, a renowned gaming company, offers a wide range of gaming consoles and
                                    handheld devices. Their iconic characters like Mario, Luigi, and Zelda have captivated gamers of all ages for decades.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->