{% extends 'admin/base.html' %}

<!--title-->
{% block title %}
{% endblock %}

<!--header_name-->
{% block header_name %}
{% endblock header_name %}


<!--content-->
{% block content %}
    <!--table products-->
    {% block table_content %}
    {% endblock table_content %}

    <!--add new product-->
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                    {% block add_link %}
                    {% endblock add_link %}
                </a>
            </div>
        </div>
    </div>
{% endblock content %}