{% extends 'admin/base_category.html' %}

<!--title-->
{% block title %}
    Products
{% endblock title %}

<!--category name-->
{% block header_name %}
    Products
{% endblock header_name %}

<!--table-content-->
{% block table_content %}
    <div class="col-12" id="table-content">
        {% include 'admin/includes/products/__table_content.html' %}
    </div>
{% endblock table_content %}


{% block add_link %}
<a href="{{ url_for('admin.add_product') }}" class="btn btn-primary"> Add New Product </a>
{% endblock add_link %}