 {% extends 'admin/base.html' %}

 {% block title %}
    Update Product
 {% endblock title %}

<!--header_name-->
{% block header_name %}
    Update Products
{% endblock header_name %}


<!-- content-->
 {% block content %}
    <div class="card">
        <!-- add new key for this product-->
                <div class="card card-success mb-4">
                      <div class="card-header">
                        <h3 class="card-title">Add new product key for this product</h3>
                      </div>
                      <div class="card-body">
                          <form method="POST">
                            {{ form_key.csrf_token }}
                            <br>
                            {{ form_key.key_value(class_="form-control", placeholder="New Key Value") }}
                            <br>
                            {{ form_key.price(class_="form-control", placeholder="Key Price") }}
                            <br>
                            {{ form_key.submit(class_="btn btn-primary") }}
                          </form>
                      </div>
                </div>
        <form method="POST">
            <div class="card-body">
        <!--product info form-->
                    {{ form.csrf_token }}
                    {% for field_name, field in form._fields.items() %}
                        {% if field_name != 'csrf_token' and field_name != 'submit' %}
                            <div class="form-group">
                                <label for="{{ field.id }}">{{ field.label }}</label>
                                {% if field.type == 'SelectField' %}
                                        <div class="row">
                                            <div class="col-8 col-md-10">
                                                {{ field(class_="form-control") }}
                                            </div>
                                            <div class="col-4 col-md-2">
                                                <a href="{{ url_for('admin.add_' + field_name.split('_')[1]) }}"
                                                   class="btn btn-primary">Add new</a>
                                            </div>
                                        </div>
                                {% else %}
                                    {{ field(class_="form-control") }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
            <div class="card-footer">
              {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
     </div>
    <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Delete This Product</h3>
          </div>
          <div class="card-body">
              <form action="{{ url_for('admin.delete_product', product_id=product.id) }}" method="POST">
                  {{ form.csrf_token }}
                  <button type="submit" class="btn btn-danger">Delete This Product</button>
              </form>
          </div>
          <!-- /.card-body -->
    </div>
 {% endblock content %}