{% extends 'admin/base_category.html' %}

<!--title-->
{% block title %}
    Subcategories
{% endblock title %}

<!--category name-->
{% block header_name %}
    Subcategories
{% endblock header_name %}

<!--table-content-->
<!--table-content-->
{% block table_content %}
    {% include 'admin/includes/subcategories/__table_content.html' %}
{% endblock table_content %}


{% block add_link %}
    <a href="{{ url_for('admin.add_subcategory') }}" class="btn btn-primary"> Add New Subcategory </a>
{% endblock add_link %}