 {% extends 'admin/base.html' %}

 {% block title %}
    Update Subcategory
 {% endblock title %}

<!--header_name-->
{% block header_name %}
    Update Subcategory
{% endblock header_name %}


<!-- content-->
 {% block content %}
    <div class="card">
        <form method="POST" data-turbo="false">
            <div class="card-body">
        <!--subcategory info form-->
                    {{ form.csrf_token }}
                    {% for field_name, field in form._fields.items() %}
                        {% if field_name != 'csrf_token' and field_name != 'submit' %}
                            <div class="form-group">
                                <label for="{{ field.id }}">{{ field.label }}</label>
                                    {{ field(class_="form-control") }}
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
            <div class="card-footer">
              {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
     </div>
 <!-- add new product for this subcategory-->
                <div class="card card-success mb-4">
                      <div class="card-header">
                        <h3 class="card-title">Add new product key for this product</h3>
                      </div>
                      <div class="card-body">
                          <form method="POST" data-turbo="false">
                            {{ product_form.csrf_token }}
                            {% for field_name, field in product_form._fields.items() %}
                                {% if field_name != 'csrf_token' and field_name != 'submit' %}
                            <div class="form-group">
                                <label for="{{ field.id }}">{{ field.label }}</label>
                                {% if field.type == 'SelectField' %}
                                        <div class="row">
                                            <div class="col-8 col-md-10">
                                                {{ field(class_="form-control") }}
                                            </div>
                                            <div class="col-4 col-md-2">
                                                <a href="{{ url_for('admin.add_' + field_name.split('_')[1]) }}"
                                                   class="btn btn-primary">Add new</a>
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ field(class_="form-control") }}
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endfor %}
                      </div>
                    <div class="card-footer">
                        {{ product_form.submit(class_="btn btn-primary") }}
                    </div>
                    </form>
                </div>
    <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Delete This Subcategory</h3>
          </div>
          <div class="card-body">
              <form action="{{ url_for('admin.delete_subcategory', subcategory_id=subcategory.id) }}" method="POST" data-turbo="false">
                  {{ form.csrf_token }}
                  <button type="submit" class="btn btn-danger">Delete This Subcategory</button>
              </form>
          </div>
          <!-- /.card-body -->
    </div>
 {% endblock content %}