{% from 'admin/helpers/render_pagination.html' import render_pagination %}
<turbo-frame id="product-list">
<div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-tools float-left">
              <div class="input-group input-group-sm">
                  <form method="POST" class="input-group input-group mt-2 mb-2" id="search_form">
                      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <input type="text" name="product_search" class="form-control float-right" placeholder="Search Products">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Platform</th>
                  <th>Category</th>
                  <th>Subcategory</th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                    <tr>
                        <td><a class="cursor-pointer text-dark" data-turbo="false"
                               href="{{ url_for('admin.product_info', product_id=product.id) }}">
                          {{ product.name|capitalize }}</a></td>
                        <td>{{ product.platform.name|capitalize }}</td>
                        <td>{{ product.category.name|capitalize }}</td>
                        <td>{{ product.sub_category.name|capitalize }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
            <!--Pagination-->
            {% if products.pages > 1 %}
                {{render_pagination(products, request.endpoint )}}
            {% endif %}

        </div>
        <!-- /.card -->
    </div>
</turbo-frame>