{% extends 'base.html' %}

<!--title-->
{% block title %}
    pyKey
{% endblock title %}

<!--content-->
{% block content %}
<!--    hero banner-->
   {% include 'includes/index/hero_banner.html' %}


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Main Categories</h1>
                <p>
                    Explore a vast array of games, gift cards, and much more on your most reliable product key shop, Pykeys.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3 d-flex flex-column align-items-center justify-content-center">
                <a href="#"><i class="fa-solid fa-gamepad text-black-50" style="font-size: 10rem"></i></a>
                <h5 class="text-center mt-3 mb-3">Games</h5>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 d-flex flex-column justify-content-center align-items-center">
               <a href="#" style="text-align: center;"><i class="fa-solid fa-gift text-black-50" style="font-size: 10rem"></i></a>
                <h2 class="h5 text-center mt-3 mb-3">Gifts Cards</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 d-flex flex-column align-items-center justify-content-center">
                <a href="#" class=""><i class="fa-brands fa-uncharted text-black-50" style="font-size: 10rem"></i></a>
                <h2 class="h5 text-center mt-3 mb-3">Software</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Last Products</h1>
                    <p>
                        Enjoy a wide variety of video games for your favorite platforms at pyKyes
                        you will find a game that suits your tastes we have hundreds of options
                        at the best prices at your disposal these are the latest products added to the
                        system.
                    </p>
                </div>
            </div>
            <div class="row">
<!--                last products-->
                {% for product in last_products %}
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="shop-single.html">
                                <img src="{{ url_for('static', filename='assets/img/feature_prod_01.jpg') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li class="text-muted text-right">${{ product.product_keys[0].key_info.price }}</li>
                                </ul>
                                <a href="shop-single.html" class="h2 text-decoration-none text-dark">{{ product.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

{% endblock content %}